body {
  text-align: center;
  background: url("images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
  the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
  on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
  while the background image is loading */
  background-color: #464646;
  color: #E6B800;
  font-family: helvetica;
}

p {
  font-size: 22px;
}


input {
  border: 0;
  padding: 10px;
  font-size: 18px;
}

.textfield{
  border-radius:5px;
  display: block;
  margin-right: 15px;
}

.login {
  position: absolute;
  top: -5px;
  right: 8px;
  font-size: 24px;
  color: #888;
}

.login a {
  font-family: 'pf-din';
  text-decoration: underline;
  color: #888;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.fadeIn {
  display: block;
  float: right;
  display: none;
}

.home {
  margin-top: 80px;
  display: block;
}

.raksha-button{
  border-radius: 5px;
  color: white;
  background-color: #FF9900;
  display: block;
  margin-left: 15px;
}

.message p{
  margin-top:20px;
  color: green;
  display: none;
}



#raksha-submit{
  background-color: #B8E68A;
  border-radius: 5px;
  margin-top: 15px;
}

.slide p{
  text-align: center;
  display: block;
  color: #FF9900;
}

.slide {
  background-color: #808080;
  border-radius: 8px;
  border-style: hidden;
  background-repeat: repeat-x;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#808080), to(#FFFFFF));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #FFFFFF, #808080);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #FFFFFF, #808080);

  /* IE 10 */
  background: -ms-linear-gradient(top, #FFFFFF, #808080);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #FFFFFF, #808080);
}
