{% load staticfiles %}
<!DOCTYPE html>
<html>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
<meta name="viewport" content="maximum-scale=1.0; minimum-scale=1.0; user-scalable=no;"/>
<link rel="stylesheet" type="text/css" href="{% static 'pybachao/style.css' %}" />

<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
<!--<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>-->
<script src="{% static 'pybachao/jquery.mobile.min.js' %}"></script>

<script src="{% static 'pybachao/jquery.js' %}"></script>
<script src="{% static 'pybachao/utils.js' %}"></script>

<script src="{% static 'pybachao/jquery.bxslider.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'pybachao/jquery.bxslider.css' %}" />

<script>
$(document).ready(function(){
  $('.slick-class').bxSlider({
    slideWidth: 400,
    minSlides: 1,
    maxSlides: 1,
    slideMargin: 10
  });
});
</script>

<title>AreaRakshak</title>


<div class="home">

  <p>AreaRakshak is silent guardian of your neighbourhood</p>
  <div class="rakshak-init">
    <p>Want to Become one? Help us.</p>
  </div>
  <div class="rakshak-bano">

    <form id="rakshak-form" action="report/" method="POST">{% csrf_token %}


      <div class="slick-class">
        <div class="slide">
          <p>Poor Safety?</p>
          <div data-role="content">
            <input type="range" value="0" min="0" max="10" step="1" data-highlight="true"  id="slider-threat" name="slider-1"/>
          </div>
        </div>

        <div class="slide">
          <p>Bad Infrastructure?</p>
          <div data-role="content">
            <input type="range" value="0" min="0" max="10" step="1" data-highlight="true"  id="slider-infra" name="slider-2"/>
          </div>
        </div>

        <div class="slide">
          <p>Transport issues?</p>
          <div data-role="content">
            <input type="range" value="0" min="0" max="10" step="1" data-highlight="true"  id="slider-trans" name="slider-3"/>
          </div>
        </div>

      </div>
      <div style="width:100%;float:center;">
        <input type="submit" value="submit" id="raksha-submit" >
      </div>
    </form>

  </div>
</div>
</html>
